# Dependências
node_modules/
package-lock.json

# Builds e Executáveis
dist/
release/
build/
*.exe

# Arquivos de Sistema / Logs
*.log
debug_log.txt
pagina_*_extraida.txt

# DADOS DO WHATSAPP (IMPORTANTE)
whatsapp-session/
whatsapp-session-fallback/
.wwebjs_cache/
.wwebjs_auth/

# Arquivos Gerados
gerador_licenca.js
.env